body{
	background-color: #F5F6FF;
	margin: auto;
	font-family: MADE TOMMY, Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;

}

.container{
	text-align: center;
	margin-top: 360px;
}

.btn{
	color: #FFFFFF;
	border: none;
	background: #232D61;			
	padding: 10px 20px;
	font-size: 25px;
	font-family: MADE TOMMY, Helvetica, Arial, sans-serif;
	cursor: pointer;
	margin: 10px;
}

.btn{border-radius: 32px}

/*header styles*/

h1, h2, p, ol, li {
	color: #232D61;
}

h1, h2 {
	font-size: 41px;
}

p, ol, li {
	font-size: 25px;
}

header {
	height: 128px;
	width: 1920px;
	background-color: #FFFFFF;
}

header h1{
	color: #232D61;
	font-family: MADE TOMMY, Helvetica, Arial, sans-serif;
	font-size: 25px;
	min-height: 4em;
	text-align: center;
	display: inline-block;
	vertical-align: middle;

}

header img{
	padding: 0 100px;
	padding-top: 25px;

}


/*main body styles*/

main{
	max-width: 1920px;
	margin: 0 auto;
	padding: 25px 100px;
}

main img{
	max-width: 100%;
}

a{
	color: #DC5126;
}
a:hover{
	color: #232D61;
}

/*footer styles*/

footer{
	height: 32px;
	width: 1920px;
	background-color: #EEEFFE;
	text-align: center;
	padding: 50px;
}


footer p{
	color: #232D61;
	font-family: MADE TOMMY, Helvetica, Arial, sans-serif;
	font-size: 25px;
	min-height: 4em;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin: 0;

}

p.caption{
	color: #DC5126;
}

h2.caption{
	color: #DC5126;
}